.header {
  height: 2.5em;
  justify-content: space-between;
  align-items: center;
}

.btn-icon {
  background: transparent;
  border: none;
}

.home {
  height: 100vh;
  background-image: url("../assets/img/header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
}

.home > span {
  display: block;
}

.home > .contact-link {
  gap: 1em;
  justify-content: flex-start;
}

.btn-contact.github {
  background: url('../assets/img/github.png') no-repeat;
  padding: 0 20px 5px 0;
}

.btn-contact.twitter {
  background: url('../assets/img/twitter.png') no-repeat;
  padding: 0 20px 5px 0;
}

.btn-contact.medium {
  background: url('../assets/img/medium.png') no-repeat;
  padding: 0 20px 5px 0;
}

.btn-contact.linkedin {
  background: url('../assets/img/linkedin.png') no-repeat;
  padding: 0 20px 5px 0;
}

.btn-contact.thumbs {
  background: url('../assets/img/thumbs.png') no-repeat;
  padding: 0 20px 5px 0;
}
