.header {
  height: 2.5em;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.btn-icon {
  background: url("../assets/img/menu.png") no-repeat;
  border: none;
  padding: 20px 20px 5px 0;
}

.home {
  min-height: 100vh;
  background-image: url("../assets/img/header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.home > :first-child {
  padding-top: 10%;
}

.home > .contact-link {
  gap: 1em;
  justify-content: flex-start;
}

.btn-contact {
  padding: 0 20px 5px 0;
}

.btn-contact.github {
  background: url("../assets/img/github.png") no-repeat;
}

.btn-contact.twitter {
  background: url("../assets/img/twitter.png") no-repeat;
}

.btn-contact.medium {
  background: url("../assets/img/medium.png") no-repeat;
}

.btn-contact.linkedin {
  background: url("../assets/img/linkedin.png") no-repeat;
}

.btn-contact.thumbs {
  background: url("../assets/img/thumbs.png") no-repeat;
}

.work-header {
  flex-direction: column;
}

.contact-form > h2 {
  font-size: 32px;
  color: var(--clr-neutral);
}

.work-section > :first-child > h2 {
  width: 327px;
  font-size: 40px;
}

footer hr {
  width: 100vw;
}

.work-section hr {
  width: 100%;
  align-self: center;
}

.tag > * {
  padding: 10px 12px;
  border: 1px solid var(--clr-gray-2);
}

.tag-feature {
  flex-wrap: wrap;
}

.tag-project > * {
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.btn {
  background-color: var(--clr-primary-1);
  color: var(--clr-light);
  border: 1px solid var(--clr-primary-1);
  padding: var(--gap);
  transition: background-color 250ms ease-in;
}

.btn-project {
  position: relative;
  width: 100%;
  top: 1rem;
}

.btn:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary-1);
}

.project-container {
  flex-direction: column;
  margin-bottom: 4rem;
}

.project {
  background-image: url("../assets/img/project-img.png");
  padding-top: 6rem;
  padding-bottom: 1rem;
  width: 327px;
}

.about {
  min-height: 100vh;
  background-image: url("../assets/img/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right top 30%;
}

.about > :first-child > h2 {
  width: 327px;
  font-size: 72px;
  height: 88px;
}

.skill {
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.skill > * > h3 {
  font-size: 32px;
  line-height: 44px;
}

.skill-icon {
  display: inline-block;
  margin-right: var(--gap);
  width: 18px;
  height: 18px;
  background-color: var(--clr-primary-1);
}

.skill-icon-kite {
  transform: rotate(45deg);
}

.skill-icon-circle {
  border-radius: 50%;
}

label {
  visibility: hidden;
}

.contact-form {
  flex-direction: column;
  margin-bottom: 4rem;
}

.contact-form__input {
  padding: 14px;
  border: none;
  border-bottom: 1px solid var(--clr-gray-2);
}

.contact-form__input:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact-form__textarea {
  padding: 1rem;
  color: var(--clr-gray);
  background-size: contain;
}

.contact-form__textarea:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact {
  flex-direction: column;
  align-items: center;
}

.social-media {
  justify-content: center;
  gap: 2rem;
}

.btn-contact.medium-dark {
  background: url("../assets/img/mediumdark.png") no-repeat;
}

.btn-contact.linkedin-dark {
  background: url("../assets/img/linkedindark.png") no-repeat;
}

.btn-contact.thumbs-dark {
  background: url("../assets/img/angelistdark.png") no-repeat;
}

.btn-contact.github-dark {
  background: url("../assets/img/githubdark.png") no-repeat;
}

.btn-contact.twitter-dark {
  background: url("../assets/img/twitterdark.png") no-repeat;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu {
    display: flex;
  }

  .mail {
    background: url("../assets/img/mail.png") no-repeat;
  }

  .home {
    background-image: url("../assets/img/header-desktop.png");
    grid-template-columns: 100px 1fr 1fr;
  }

  .home > .bio {
    text-align: start;
    align-self: auto;
  }

  .home > .bio > h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .home > .bio > span {
    font-size: 32px;
    line-height: 44px;
  }

  .home .contact-link {
    flex-direction: column;
    grid-row: 1;
  }

  .work-section > :first-child > h2 {
    width: calc(100vw / 2);
  }

  .work-header {
    flex-direction: row;
  }

  .featured {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
  }

  .project-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }

  .about {
    background-image: url("../assets/img/about-me-desktop.png");
  }

  .about-bio {
    width: calc(100vw / 2);
  }

  .skill {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-form {
    flex-direction: row;
    align-items: start;
  }

  .contact-form > .contact {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100vw / 2);
    align-items: stretch;
  }

  .contact-form > .contact > button {
    align-self: start;
  }
}

@media (min-width: 768px) and (max-width: 1024.343px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
