@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');

@font-face {
  font-family: 'InaiMathi';
  src: url(../assets/font/InaiMathi-Regular.ttf);
}

@font-face {
  font-family: 'InaiMathi';
  src: url(../assets/font/InaiMathi-Regular.ttf);
}

:root {
  /* color values */
  --clr-gray: #3c3a39;
  --clr-gray-1: #212121;
  --clr-gray-2: #8993a4;
  --clr-dark: #1c1a19;
  --clr-light: #fff;
  --clr-primary-1: #ff6b00;
  --clr-primary-2: #fff5e1;
  --clr-neutral: #172b4d;
  --clr-neutral-1: #fbf8f7;


  /* font-family */
  --ff-roboto: "Roboto", sans-serif;
  --ff-crete: "Crete Round", serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-inai: "InaiMathi", sans-serif;

  /* font-size */
  --fs-400: 25rem;
  --fs-56: 3.5rem;
  --gap: 1rem;

  /* Container size */
  --mobile-w: 327px;
}

.bg-gray { background-color: var(--clr-gray); }
.bg-dark { background-color: var(--clr-dark); }
.bg-light { background-color: var(--clr-light); }
.bg-primary-1 { background-color: var(--clr-primary-1); }
.bg-primary-2 { background-color: var(--clr-primary-2); }
.bg-neutral-1 { background-color: var(--clr-neutral-1); }

.text--dark { color: var(--clr-dark); }
.text-gray { color: var(--clr-gray); }
.text-light { color: var(--clr-light); }
.text-primary-1 { color: var(--clr-primary-1); }
.text-primary-2 { color: var(--clr-primary-2); }

.ff-roboto { font-family: var(--ff-roboto); }
.ff-crete { font-family: var(--ff-crete); }
.ff-poppins { font-family: var(--ff-poppins); }
.ff-inter { font-family: var(--ff-inter); }
.ff-inai { font-family: var(--ff-inai); }

.fw-400 { font-weight: var(--fs-400); }
.fs-56 { font-weight: var(--fs-56); }

.line-height-1 { line-height: 3rem; }
.line-height-2 { line-height: 2rem; }

.flex {
  display: flex;
  gap: var(--gap);
}

.container > * {
  max-width: var(--mobile-w);
  margin: 0 auto;
}

.mg-1 {
  margin-block: 1rem;
}

.mg-2 {
  margin-block: 2rem;
}

.mg-4 {
  margin-block: 4rem;
}

.mg-8 {
  margin-block: 7.5rem;
}

.grid {
  display: grid;
}

.center {
  text-align: center;
}

.mg-inline {
  margin-inline: 2rem;
}
