.nav-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header {
  height: 2.5em;
  padding-inline: 32px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.menu {
  position: absolute;
  background-color: var(--clr-gray);
  height: 100vh;
  width: 100%;
  top: 0;
  min-width: var(--mobile-w);
  transform: translateX(200%);
  flex-direction: column;
  padding-inline: 2rem;
  transition: transform 0.5s ease-in-out;
}

.menu > * {
  padding: 1rem;
  border-bottom: 1px solid var(--clr-gray-3);
  font-size: 2rem;
  font-family: var(--ff-inter);
}

.menu :first-child {
  border-bottom: none;
}

.menu :nth-child(5) {
  border-bottom: none;
}

.visible {
  transform: translateX(0);
  left: 0;
}

.menu-btn {
  background: url("../img/menu.png") no-repeat;
  border: none;
  padding: 20px 20px 5px 0;
}

.close-btn {
  background: url("../img/cls-btn.png") no-repeat;
  border: none;
  padding: 20px 20px 5px 0;
  margin-left: 90%;
  margin-top: 1rem;
}

#close-btn {
  cursor: pointer;
}

#close-btn:hover {
  border: 1px solid var(--clr-primary-1);
  padding: 0.4rem;
}

.home {
  min-height: 100vh;
  background-image: url("../img/header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.home > :first-child {
  padding-top: 10%;
}

.home > .contact-link {
  gap: 1em;
  justify-content: flex-start;
}

.btn-contact {
  padding: 0 25px 5px 0;
}

.btn-contact.github {
  background: url("../img/github.png") no-repeat;
}

.btn-contact.twitter {
  background: url("../img/twitter.png") no-repeat;
}

.btn-contact.medium {
  background: url("../img/medium.png") no-repeat;
}

.btn-contact.linkedin {
  background: url("../img/linkedin.png") no-repeat;
}

.btn-contact.thumbs {
  background: url("../img/thumbs.png") no-repeat;
}

.work-header {
  flex-direction: column;
}

.contact-form > h2 {
  font-size: 32px;
  color: var(--clr-neutral);
}
.work-section {
  justify-items: center;
  gap: 2rem;
  text-align: center;
}

.work-section > :first-child > h2 {
  width: 327px;
  font-size: 40px;
}

footer hr {
  width: 100vw;
}

.work-section hr {
  width: 100%;
  align-self: center;
  text-align: center;
  gap: 1rem;
}

.tag > * {
  padding: 10px 12px;
  border: 1px solid var(--clr-gray-2);
}

.tag-feature {
  flex-wrap: wrap;
  padding-inline: 32px;
}

.tag-project > * {
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.btn {
  cursor: pointer;
  background-color: var(--clr-primary-1);
  color: var(--clr-light);
  border: 1px solid var(--clr-primary-1);
  padding: var(--gap);
  transition: background-color 250ms ease-in;
}

.btn-project {
  position: relative;
  width: 100%;
  top: 1rem;
}

.btn:hover {
  transform: scale(0.8);
  transition: all 0.4s;
  background-color: var(--clr-light);
  color: var(--clr-primary-1);
}

.featured {
  flex-direction: column;
}

.featured > .featured-img {
  height: 440px;
  width: 200ch;
}

.project {
  background-image: url("../img/project-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: grey;
  padding-top: 6rem;
  padding-bottom: 1rem;
  width: 327px;
  transition: transform 0.2s ease-in;
  height: 360px;
}

.project:hover {
  transform: translateY(-15px);
}

.project .bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: drop-shadow(4px 4px 10px black);
  z-index: 2;
}

.modal-outer {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  background-color: var(--clr-light);
  color: var(--clr-gray-2);
  width: 80vw;
  max-height: 80vh;
  padding: 1rem;
  overflow-y: scroll;
  z-index: 4;
  transform: translateY(-200%);
  transition: transform 0.5s ease-in-out;
}

.modal-outer.open .modal-inner {
  transform: translateY(0);
}

.modal-inner > * {
  max-width: 95%;
  margin: 0 auto;
}

.modal-inner > .modal-content > img {
  /* width: 100%; */
  height: 20vh;
}

.modal-inner > .modal-header {
  place-items: center;
  justify-content: space-between;
}

.modal-inner > .tag-featured {
  justify-content: start;
  margin-block: 2rem;
}

.modal-inner > .modal-content {
  flex-direction: column;
}

.modal-inner > .buttons {
  justify-content: space-evenly;
}

.modalBlur {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.disable-scroll {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.btn-modal {
  padding: 1em;
  font-size: 12px;
}

.about {
  min-height: 100vh;
  background-image: url("../img/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right top 30%;
}

.about > :first-child > h2 {
  width: 327px;
  font-size: 72px;
  height: 88px;
}

.skill {
  flex-direction: column;
  align-items: center;
}

.skill > * > h3 {
  font-size: 32px;
  line-height: 44px;
}

.skill-icon {
  display: inline-block;
  margin-right: var(--gap);
  width: 18px;
  height: 18px;
  background-color: var(--clr-primary-1);
}

.skill-icon-kite {
  transform: rotate(45deg);
}

.skill-icon-circle {
  border-radius: 50%;
}

.contact-form {
  flex-direction: column;
  margin-bottom: 4rem;
}

.contact-form__input {
  padding: 14px;
  border: none;
  border-bottom: 1px solid var(--clr-gray-2);
}

.contact-form__input:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact-form__textarea {
  padding: 1rem;
  color: var(--clr-gray);
  background-size: contain;
}

.contact-form__textarea:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact-form .ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.contact {
  flex-direction: column;
  align-items: center;
}

.social-media {
  justify-content: center;
  gap: 2rem;
}

.btn-contact.medium-dark {
  background: url("../img/mediumdark.png") no-repeat;
}

.btn-contact.linkedin-dark {
  background: url("../img/linkedindark.png") no-repeat;
}

.btn-contact.thumbs-dark {
  background: url("../img/angelistdark.png") no-repeat;
}

.btn-contact.github-dark {
  background: url("../img/githubdark.png") no-repeat;
}

.btn-contact.twitter-dark {
  background: url("../img/twitterdark.png") no-repeat;
}

@media (min-width: 768px) and (max-width: 1024.343px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    flex-direction: row;
    transform: none;
    background: none;
    height: inherit;
  }

  .menu > * {
    border: none;
    font-size: inherit;
  }

  .close-btn {
    display: none;
  }

  .mail {
    background: url("../img/mail.png") no-repeat;
  }

  .home {
    background-image: url("../img/header-desktop.png");
    grid-template-columns: 100px 1fr 1fr;
  }

  .home > .bio {
    text-align: start;
    align-self: auto;
  }

  .home > .bio > h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .home > .bio > span {
    font-size: 32px;
    line-height: 44px;
  }

  .home .contact-link {
    flex-direction: column;
    grid-row: 1;
  }

  .work-header {
    flex-direction: row;
    grid-area: work-header;
    gap: var(--gap);
  }

  .featured {
    flex-direction: row;
    grid-area: work-featured;
  }

  .project > .btn-project {
    display: none;
  }

  .modal-inner > .modal-content {
    flex-direction: row;
    place-items: end;
  }

  .modal-inner > .modal-content > img {
    width: 40vw;
    height: 40vh;
  }

  .project:hover > :not(.btn-project) {
    display: none;
  }

  .project:hover > .btn-project {
    display: block;
    bottom: 0;
    border: none;
  }

  .work-section {
    grid-template-areas:
      "work-header work-header"
      "work-featured work-featured ";
    justify-items: center;
    gap: 2rem;
    align-self: center;
    text-align: center;
    gap: 1rem;
  }

  .work-section > :first-child > h2 {
    width: calc(100vw / 2);
  }

  .about {
    background-image: url("../img/about-me-desktop.png");
  }

  .about-bio {
    width: calc(100vw / 2);
  }

  .skill {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-form {
    flex-direction: row;
    align-items: start;
  }

  .contact-form > .contact {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100vw / 2);
    align-items: stretch;
  }

  .contact-form > .contact > button {
    align-self: start;
  }
}

@media (min-width: 1060px) {
  .work-section {
    grid-template-areas:
      "work-header work-header work-header"
      "work-featured work-featured work-featured";
  }
}
