.header {
  height: 2.5em;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: absolute;
  background-color: var(--clr-gray);
  top: 0;
  right: 100%;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.visible {
  left: 0;
  padding-inline: 2rem;
}

.visible > * {
  padding: 1rem;
  border-bottom: 1px solid var(--clr-gray-3);
  font-size: 2rem;
  font-family: var(--ff-inter);
}

.visible :first-child {
  border-bottom: none;
}

.visible :nth-child(5) {
  border-bottom: none;
}

.menu-btn {
  background: url("../img/menu.png") no-repeat;
  border: none;
  padding: 20px 20px 5px 0;
}

#close-btn {
  cursor: pointer;
}

#close-btn:hover {
  border: 1px solid var(--clr-primary-1);
  padding: 0.4rem;
}

#close-btn {
  cursor: pointer;
}

#close-btn:hover {
  border: 1px solid var(--clr-primary-1);
  padding: 0.4rem;
}

.home {
  min-height: 100vh;
  background-image: url("../img/header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.home > :first-child {
  padding-top: 10%;
}

.home > .contact-link {
  gap: 1em;
  justify-content: flex-start;
}

.btn-contact {
  padding: 0 20px 5px 0;
}

.btn-contact.github {
  background: url("../img/github.png") no-repeat;
}

.btn-contact.twitter {
  background: url("../img/twitter.png") no-repeat;
}

.btn-contact.medium {
  background: url("../img/medium.png") no-repeat;
}

.btn-contact.linkedin {
  background: url("../img/linkedin.png") no-repeat;
}

.btn-contact.thumbs {
  background: url("../img/thumbs.png") no-repeat;
}

.work-header {
  flex-direction: column;
}

.contact-form > h2 {
  font-size: 32px;
  color: var(--clr-neutral);
}

.work-section > :first-child > h2 {
  width: 327px;
  font-size: 40px;
}

footer hr {
  width: 100vw;
}

.work-section hr {
  width: 100%;
  align-self: center;
}

.tag > * {
  padding: 10px 12px;
  border: 1px solid var(--clr-gray-2);
}

.tag-feature {
  flex-wrap: wrap;
}

.tag-project > * {
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.btn {
  cursor: pointer;
  background-color: var(--clr-primary-1);
  color: var(--clr-light);
  border: 1px solid var(--clr-primary-1);
  padding: var(--gap);
  transition: background-color 250ms ease-in;
}

.btn-project {
  position: relative;
  width: 100%;
  top: 1rem;
}

.btn:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary-1);
}

.featured {
  flex-direction: column;
}

.featured > .featured-img {
  height: 440px;
  width: 200ch;
}

.project {
  background-image: url("../img/project-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: grey;
  padding-top: 6rem;
  padding-bottom: 1rem;
  width: 327px;
  height: 360px;
}

.project .bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: drop-shadow(4px 4px 10px black);
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  background-color: var(--clr-light);
  color: var(--clr-gray-2);
  height: 80vh;
  z-index: 10;
  width: 80%;
  padding: 1rem;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal > * {
  max-width: 95%;
  margin: 0 auto;
}

.modal > .modal-header {
  place-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal > .tag-featured {
  justify-content: start;
  margin-block: 2rem;
}

.modal > .modal-content {
  flex-direction: column;
}

.modal > .buttons {
  justify-content: space-evenly;
}

.body-container.modalBlur > *:not(.work-section),
.work-section.modalBlur > *:not(.modal) {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.disable-scroll {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.btn-modal {
  padding: 1em;
  font-size: 12px;
}

.is-open {
  display: block;
}

.about {
  min-height: 100vh;
  background-image: url("../img/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right top 30%;
}

.about > :first-child > h2 {
  width: 327px;
  font-size: 72px;
  height: 88px;
}

.skill {
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.skill > * > h3 {
  font-size: 32px;
  line-height: 44px;
}

.skill-icon {
  display: inline-block;
  margin-right: var(--gap);
  width: 18px;
  height: 18px;
  background-color: var(--clr-primary-1);
}

.skill-icon-kite {
  transform: rotate(45deg);
}

.skill-icon-circle {
  border-radius: 50%;
}

.contact-form {
  flex-direction: column;
  margin-bottom: 4rem;
}

.contact-form__input {
  padding: 14px;
  border: none;
  border-bottom: 1px solid var(--clr-gray-2);
}

.contact-form__input:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact-form__textarea {
  padding: 1rem;
  color: var(--clr-gray);
  background-size: contain;
}

.contact-form__textarea:focus {
  outline: 1px solid var(--clr-gray-2);
}

.contact {
  flex-direction: column;
  align-items: center;
}

.social-media {
  justify-content: center;
  gap: 2rem;
}

.btn-contact.medium-dark {
  background: url("../img/mediumdark.png") no-repeat;
}

.btn-contact.linkedin-dark {
  background: url("../img/linkedindark.png") no-repeat;
}

.btn-contact.thumbs-dark {
  background: url("../img/angelistdark.png") no-repeat;
}

.btn-contact.github-dark {
  background: url("../img/githubdark.png") no-repeat;
}

.btn-contact.twitter-dark {
  background: url("../img/twitterdark.png") no-repeat;
}

@media (min-width: 768px) and (max-width: 1024.343px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    height: inherit;
  }

  .close-btn {
    display: none;
  }

  .mail {
    background: url("../img/mail.png") no-repeat;
  }

  .home {
    background-image: url("../img/header-desktop.png");
    grid-template-columns: 100px 1fr 1fr;
  }

  .home > .bio {
    text-align: start;
    align-self: auto;
  }

  .home > .bio > h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .home > .bio > span {
    font-size: 32px;
    line-height: 44px;
  }

  .home .contact-link {
    flex-direction: column;
    grid-row: 1;
  }

  .work-header {
    flex-direction: row;
    grid-area: work-header;
    gap: var(--gap);
  }

  .featured {
    flex-direction: row;
    grid-area: work-featured;
  }

  .project > .btn-project {
    display: none;
  }

  .modal > .modal-content {
    flex-direction: row;
    place-items: end;
  }

  .modal > .modal-content > img {
    width: 100ch;
    height: 50vh;
  }

  .project:hover > :not(.btn-project) {
    display: none;
  }

  .project:hover > .btn-project {
    display: block;
    bottom: 0;
    border: none;
  }

  .work-section {
    grid-template-areas:
      "work-header work-header"
      "work-featured work-featured ";
  }

  .work-section > :first-child > h2 {
    width: calc(100vw / 2);
  }

  .about {
    background-image: url("../img/about-me-desktop.png");
  }

  .about-bio {
    width: calc(100vw / 2);
  }

  .skill {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-form {
    flex-direction: row;
    align-items: start;
  }

  .contact-form > .contact {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100vw / 2);
    align-items: stretch;
  }

  .contact-form > .contact > button {
    align-self: start;
  }
}

@media (min-width: 1060px) {
  .work-section {
    grid-template-areas:
      "work-header work-header work-header"
      "work-featured work-featured work-featured";
  }
}
